/* Roboto Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ---- RESETS ---- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  font-family: inherit;
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* --------------- */

:root {
  /* custom properties */

  --header-text-color: black;
  --header-bg-color: white;
  --sidebar-text-color: white;
  --sidebar-bg-color: #1992d4;
  --main-content-bg-color: #e2e8f0;
  --main-content-text-color: black;
  --main-content-sub-text-color: #636363;
  /* Accent color should match profile icon BG */
  --main-content-project-accent-color: #43b06d;
}

html {
  height: 100%;
  display: flex;
  /* By using flex layout on html and allowing body to grow,
     we can allow our body to stretch to the full height of the
     viewport while avoiding issues in phone broswers  */
}

body {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 6fr 23fr;
  grid-template-rows: 3fr 17fr;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--main-content-bg-color);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 1em 4em 0 1em;
  /* Using grad layout to organize containers in sidebar */
  display: grid;
  grid-template-columns: 1fr;
  /* our last row is empty, preventing extra space in the other rows */
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  gap: 3em;
}

.sidebar .logo {
  display: flex;
  align-items: center;
}
.sidebar .link-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.sidebar .admin-links,
.sidebar .support-links {
  /* use grid layout to organize links in sidebar containers */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

/* icons should match color of text in corresponding section */
.logo svg {
  fill: var(--sidebar-text-color);
  height: 2.5em;
  width: auto;
  margin-right: 0.9em;
}

/* icons should match color of text in corresponding section */
.sidebar .link-container svg {
  fill: var(--sidebar-text-color);
  height: 1em;
  width: auto;
  margin-left: 0.5em;
  margin-right: 1.4em;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100%) fit-content(100%);
  padding: 1em 4em 1em 2em;
  position: relative; /* allows shadow to show up correctly below grid */
  box-shadow: 0 0.5em 0.5em rgb(0 0 0 / 10%);
}

/* icons should match color of text in corresponding section */
.header svg {
  height: 1em;
  width: auto;
  fill: var(--header-text-color);
  height: 1.25em;
  width: auto;
}

.header .navigation-bar {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  margin-bottom: 1.5em;
}

/* our search bar: reset and style */
.header .navigation-bar input {
  border: 0;
  border-radius: 20px;
  height: 1.75em; /* Height should slightly bigger than height of icons */
  width: clamp(10em, 75%, 40em);
  background-color: var(--main-content-bg-color);
  margin-left: 1em;
}

/* no focus for our search bar */
.header .navigation-bar input:focus {
  outline: none;
}

.header .navigation-bar p.user-name {
  font-size: 17px;
  font-weight: bold;
}

/* While these svg buttons won't be implemented for this example,
   the pseudo-class of hover has been style to indicate they are
   inteded to be interactive */
.header .navigation-bar svg:hover {
  cursor: pointer;
}

.header .navigation-bar img.user-icon {
  height: 2.5em;
  width: auto;
  margin: 0 1em;
}

.header .header-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  white-space: nowrap;
}

.header .header-bar img.user-icon {
  height: 4em;
  width: auto;
}

.header .header-bar .user-name-header {
  margin-left: 1em;
  margin-right: 5em;
}

.header .header-bar .user-name-header p.user-greeting {
  font-size: 10px;
  font-weight: bold;
}

.header .header-bar .user-name-header p.user-name {
  font-size: 20px;
  font-weight: bold;
}

.header .header-bar .user-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
}

.header .header-bar button {
  border: 0;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  height: 2.5em;
  width: 6em;
}

.header .header-bar button:hover {
  cursor: pointer;
}

.main-content {
  background-color: var(--main-content-bg-color);
  color: var(--main-content-text-color);
  grid-row: 2/ 3;
  display: grid;
  grid-template-columns: 16fr 6fr;
  grid-template-rows: 1fr 1fr;
  padding: 2em 2em 4em 1.25em;
  height: 80%
}

.main-content .project-grid {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.main-content .announcement-grid {
  grid-row: 1/2;
}

.main-content .trending-grid {
  grid-row: 2/3;
  align-self: end;
}

/* Adjusting boldness of some of our headings */
.main-content h3,
.main-content h4,
.main-content h5 {
  font-weight: 500;
}

/* Chaging font color of "sub" text, description text inside grids */
.main-content .project-card p,
.main-content .announcement-card p,
.main-content .trending-card p.trending-project {
  color: var(--main-content-sub-text-color);
}

.main-content .project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75em;
  margin-top: 0.75em;
  margin-right: 1.5em;
   margin-bottom: 2em;
}

.main-content .project-container .project-card {
  background-color: var(--header-bg-color);
  border-left: 0.4em solid var(--main-content-project-accent-color);
  border-radius: 10px;
  padding: 2em 1.5em 2em 1em;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-content .project-card .user-project {
  height: 4em;
}

.main-content .project-card .card-icons {
  align-self: end;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
}

.main-content .announcement-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33.3% 33.3% 33.3%;
  background-color: var(--header-bg-color);
  margin-top: 0.75em;
  margin-bottom: 2em;
  padding: 1em 1.5em;
  border-radius: 10px;
}

.main-content .announcement-card {
  padding: 1em 0;
}

.main-content .announcement-card#announcement-one,
.main-content .announcement-card#announcement-two {
  border-bottom: 0.15em solid var(--main-content-bg-color);
}

.main-content .trending-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--header-bg-color);
  margin-top: 0.75em;
  margin-bottom: 2em;
  padding: 1.5em 1.5em;
  border-radius: 10px;
  gap: 1.75em;
}

/* Changing font size of text in main content */
.main-content .project-card p {
  font-size: 14px;
}

.main-content .announcement-card p {
  font-size: 11px;
}

.main-content .trending-card p {
  font-size: 13px;
}

/* icons should match color of text in corresponding section */
.main-content svg {
  fill: var(--main-content-text-color);
}

.main-content .project-card svg {
  height: 1.4em;
  --main-content-card-svg-color: #333333;
  width: auto;
}

/* While these svg buttons won't be implemented for this example,
   the pseudo-class of hover has been style to indicate they are
   inteded to be interactive */
.main-content .project-card svg:hover {
  cursor: pointer;
}

.main-content .trending-card {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main-content .trending-card img.user-icon {
  height: 2.5em;
  width: auto;
  margin: 0 1em;
}

/* Add shadows to grids for aesthetics */
.main-content .project-card,
.main-content .announcement-container,
.main-content .trending-container {
  box-shadow: 0 0.5em 0.5em rgb(0 0 0 / 10%);
}